<h3 class="h3_sistema">Editar Distrito</h3>

<%= render 'form' %>
<br>
<%= link_to 'Visualizar', @district, {:class => "a_sistema"} %> |
<%= link_to 'Retornar', districts_path, {:class => "a_sistema"} %>
