<div class="slider_wrapper ">
	<div id="camera_wrap" class="">
		<div data-src="/assets/slide.jpg"></div>
		<div data-src="/assets/slide1.jpg"></div>
		<div data-src="/assets/slide2.jpg"></div>
	</div>
</div>
<div class="container_12">
	<div class="grid_4">
		<div class="banner">
			<div class="maxheight">
				<div class="banner_title">
					<%= image_tag("icon1.png", :alt => "") %>
					<div class="extra_wrapper">Rápido&amp;
						<div class="color1">Seguro</div>
					</div>
				</div>
				Dorem ipsum dolor sit amet, consectetur adipiscinger elit. In mollis erat mattis neque facilisis, sit ameter ultricies erat rutrum. Cras facilisis, nulla vel viver auctor, leo magna sodales felis, quis malesuad
				<a href="#" class="fa fa-share-square"></a>
			</div>
		</div>
	</div>
	<div class="grid_4">
		<div class="banner">
			<div class="maxheight">
				<div class="banner_title">
					<%= image_tag("icon2.png", :alt => "") %>
					<div class="extra_wrapper">Mejores
						<div class="color1">Precios</div>
					</div>
				</div>
				Hem ipsum dolor sit amet, consectetur adipiscinger elit. In mollis erat mattis neque facilisis, sit ameter ultricies erat rutrum. Cras facilisis, nulla vel viver auctor, leo magna sodales felis, quis malesuader
				<a href="#" class="fa fa-share-square"></a>
			</div>
		</div>
	</div>
	<div class="grid_4">
		<div class="banner">
			<div class="maxheight">
				<div class="banner_title">
					<%= image_tag("icon3.png", :alt => "") %>
					<div class="extra_wrapper">Entrega
						<div class="color1">Valijas</div>
					</div>
				</div>
				Kurem ipsum dolor sit amet, consectetur adipiscinger elit. In mollis erat mattis neque facilisis, sit ameter ultricies erat rutrum. Cras facilisis, nulla vel viver auctor, leo magna sodales felis, quis malesuki
				<a href="#" class="fa fa-share-square"></a>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="c_phone">
	<div class="container_12">
		<div class="grid_12">
			<div class="fa fa-phone"></div>+ 1800 559 6580
			<span>RESERVAR AHORA!</span>
		</div>
		<div class="clear"></div>
	</div>
</div>
