<div class="content">
	<div class="container_12">
		<div class="grid_5">
			<h3>Formulario de Reserva</h3>
			<form id="bookingForm">
				<div class="fl1">
					<div class="tmInput">
						<input name="Name" placeHolder="Nombre:" type="text" data-constraints='@NotEmpty @Required @AlphaSpecial'>
					</div>
					<div class="tmInput">
						<input name="From" placeHolder="Origen:" type="text" data-constraints="@NotEmpty @Required ">
					</div>
				</div>
				<div class="fl1">
					<div class="tmInput">
						<input name="Email" placeHolder="Email:" type="text" data-constraints="@NotEmpty @Required @Email">
					</div>
					<div class="tmInput mr0">
						<input name="To" placeHolder="Destino:" type="text" data-constraints="@NotEmpty @Required">
					</div>
				</div>
				<div class="clear"></div>
				<strong>Hora</strong>
				<div class="tmInput">
					<input name="Time" placeHolder="" type="text" data-constraints="@NotEmpty @Required">
				</div>
				<div class="clear"></div>
				<strong>Fecha</strong>
				<label class="tmDatepicker">
					<input type="text" name="Date"	placeHolder='27/11/2015' data-constraints="@NotEmpty @Required @Date">
				</label>
				<div class="clear"></div>
				<div class="tmRadio">
					<p>Comodidad</p>
					<input name="Comfort" type="radio" id="tmRadio0" data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' checked/>
					<span>Económico</span>
					<input name="Comfort" type="radio" id="tmRadio1" data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' />
					<span>Normal</span>
					<input name="Comfort" type="radio" id="tmRadio2" data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' />
					<span>Vip</span>
				</div>
				<div class="clear"></div>
				<div class="fl1 fl2">
					<em>Adultos</em>
					<select name="Adults" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
						<option>1</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
					</select>
					<div class="clear height1"></div>
				</div>
				<div class="fl1 fl2">
					<em>Niños</em>
					<select name="Children" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
						<option>0</option>
						<option>0</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				<div class="clear"></div>
				<div class="tmTextarea">
					<textarea name="Message" placeHolder="Mensaje" data-constraints='@NotEmpty @Required @Length(min=20,max=999999)'></textarea>
				</div>
				<a href="#" class="btn" data-type="submit">Grabar</a>
			</form>
		</div>
		<div class="grid_6 prefix_1">
			<a href="vehiculo.html" class="type"><%= image_tag("page1_img1.jpg", :alt => "") %><span class="type_caption">Económico</span></a>
			<a href="vehiculo.html" class="type"><%= image_tag("page1_img2.jpg", :alt => "") %><span class="type_caption">Normal</span></a>
			<a href="vehiculo.html" class="type"><%= image_tag("page1_img3.jpg", :alt => "") %><span class="type_caption">Vip</span></a>
		</div>
		<div class="clear"></div>
	</div>
</div>
